* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('./forest-7774205_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vw; */
    min-height: 100vh;
}
.hero {
    display: grid;
    place-items: center;
    width: 40%;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 22%;
    left: 30%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
}
.banner {
    text-align: center;
}
h1,
h3 {
    text-transform: capitalize;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 0.2rem;
    color: black;
}
.model-btn {
  font-size: 1.1rem;  
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #8CE4FF;
  padding: 7px 12px;
  letter-spacing: 0.3rem;
  border: none;
  border-radius: 7px;
  /* transition: all 0.3s linear; */
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #8CE4FF;
  margin-top: 2rem;
}
.btn:hover {
    background-color: #fff;
    color: #8CE4FF;
    transition: all 0.3s linear;
}
.model-overlay {
    display: grid;
    place-content: center;
    width: 40%;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 22%;
    left: 30%;
    background-color: #8CE4FF;
    border-radius: 0.5rem;
    visibility: hidden;
    z-index: -10;
}
/* open-model */
.open-model {
    visibility: visible;
    z-index: 10;
}
.model-container {
    width: 100%;
    height: 55%;
    position: absolute;
    display: grid;
    place-items: center;
    background-color: #fff;
    align-items: center;
    border-radius: 0.5rem;
    margin: 4rem 0;
}

h3 {
    font-size: 2.5rem;
    font-weight: bolder;
}
.btn2 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: hsl(360, 67%, 44%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
}
.btn2 :hover {
    font-weight: 10rem;
    transform: scale(1.2);

}

@media screen and (max-width: 768px) {
    .hero, .model-overlay {
        width: 80%;
        left: 10%;
    }
    .body {
        /* height: 150vh; */
    }
    

}
@media screen and (max-width: 480px) {
    .hero, .model-overlay {
        width: 90%;
        left: 5%;
    }
    .body {
        /* height: 200vh; */
    }

}